## Assignment

In this assignment, you'll be working with the __[U.S. Education Dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)__ from Kaggle. The data gives detailed state level information on several facets of the state of education on an annual basis. To learn more about the data and the column descriptions, click the Kaggle link above.

Access this data from the Thinkful database using the following credentials:

- postgres_user = 'dsbc_student'
- postgres_pw = '7*.8G9QH21'
- postgres_host = '142.93.121.174'
- postgres_port = '5432'
- postgres_db = 'useducation'

To complete this assignment, submit a link to a Jupyter notebook containing your solutions to the following tasks:

1. Determine all the variable types and find the fraction of the missing values for each variable.
2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?
3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.
4. This time, fill in the missing values using interpolation (extrapolation).
5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

## Import Statements

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

## The Dataframe

In [2]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

education_df = pd.read_sql_query('select * from useducation', con=engine)

# No need for an open connection because we're only doing a single query.
engine.dispose()

### 1. Determine all the variable types and find the fraction of the missing values for each variable.

In [3]:
education_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 279.8+ KB

In [4]:
 education_df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.000000,1.229000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.280000e+03,1.229000e+03,...,1361.000000,1361.000000,1361.00000,1.361000e+03,1.361000e+03,1.319000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,9.159308e+05,9.092082e+06,7.663723e+05,4.216553e+06,4.109157e+06,9.196681e+06,4.762966e+06,2.680331e+06,4.292046e+05,...,64538.927259,64271.057311,54268.92432,5.192140e+05,2.470714e+05,8.024415e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.065280e+06,1.174519e+07,1.145242e+06,5.543072e+06,5.482971e+06,1.197813e+07,6.293004e+06,3.353349e+06,5.340693e+05,...,80293.387625,78910.545776,67889.27623,6.436384e+05,3.077056e+05,9.707031e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,633.000000,437.000000,311.00000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,2.583140e+05,2.186305e+06,1.893540e+05,1.153097e+06,7.158345e+05,2.165404e+06,1.168032e+06,6.357900e+05,1.028310e+05,...,13739.000000,13342.000000,10919.00000,1.106260e+05,5.147100e+04,1.810650e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,6.483130e+05,5.079546e+06,4.033765e+05,2.537074e+06,2.055780e+06,5.234506e+06,2.657452e+06,1.525406e+06,2.715960e+05,...,43272.000000,43339.000000,36735.00000,3.457750e+05,1.642600e+05,5.503420e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,1.014528e+06,1.085985e+07,8.289660e+05,5.080939e+06,4.768680e+06,1.074519e+07,5.568028e+06,3.229651e+06,5.186000e+05,...,75481.000000,76566.000000,67460.00000,6.119050e+05,2.905020e+05,9.282755e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.00000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

In [5]:
education_df.isnull().sum()*100/education_df.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

### 2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variables. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

It may make sense to throw out the records that are missing variables in the AVG_MATH_4_SCORE, AVG_MATH_8_SCORE, AVG_READING_4_SCORE and AVG_READING_8_SCORE columns because the majority of the values (roughly 64%) are missing.

For the rest of the variables that have missing values, they could be filled in with the mean.

In [6]:
education_df_without_nan_values_1 = education_df.copy()

replace_nan_values_with_averages_list = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 
             'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 
             'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
             'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 
             'GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G', 
             'GRADES_9_12_G', 'GRADES_ALL_G']
 
for col in replace_nan_values_with_averages_list:
    education_df_without_nan_values_1.fillna(education_df_without_nan_values_1[
        replace_nan_values_with_averages_list].mean(), inplace=True)
    
education_df_without_nan_values_1.isnull().sum()*100/education_df_without_nan_values_1.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                           0.000000
TOTAL_REVENUE                    0.000000
FEDERAL_REVENUE                  0.000000
STATE_REVENUE                    0.000000
LOCAL_REVENUE                    0.000000
TOTAL_EXPENDITURE                0.000000
INSTRUCTION_EXPENDITURE          0.000000
SUPPORT_SERVICES_EXPENDITURE     0.000000
OTHER_EXPENDITURE                0.000000
CAPITAL_OUTLAY_EXPENDITURE       0.000000
GRADES_PK_G                      0.000000
GRADES_KG_G                      0.000000
GRADES_4_G                       0.000000
GRADES_8_G                       0.000000
GRADES_12_G                      0.000000
GRADES_1_8_G                     0.000000
GRADES_9_12_G                    0.000000
GRADES_ALL_G                     0.000000
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

### 3. Now, take into account the time factor. Replicate your second answer but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [15]:
fave_year = 1992

education_df[education_df['YEAR'] == fave_year]

education_df_year_1992 = education_df[education_df['YEAR'] == fave_year]

replace_nan_values_with_averages_list = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 
             'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 
             'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
             'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 
             'GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G', 
             'GRADES_9_12_G', 'GRADES_ALL_G']

for col in replace_nan_values_with_averages_list:
    education_df_year_1992.fillna(education_df_year_1992[
        replace_nan_values_with_averages_list].mean(), inplace=True)
    
education_df_year_1992.isnull().sum()*100/education_df_year_1992.isnull().count()

PRIMARY_KEY                       0.000000
STATE                             0.000000
YEAR                              0.000000
ENROLL                          100.000000
TOTAL_REVENUE                     0.000000
FEDERAL_REVENUE                   0.000000
STATE_REVENUE                     0.000000
LOCAL_REVENUE                     0.000000
TOTAL_EXPENDITURE                 0.000000
INSTRUCTION_EXPENDITURE           0.000000
SUPPORT_SERVICES_EXPENDITURE      0.000000
OTHER_EXPENDITURE               100.000000
CAPITAL_OUTLAY_EXPENDITURE        0.000000
GRADES_PK_G                       0.000000
GRADES_KG_G                       0.000000
GRADES_4_G                        0.000000
GRADES_8_G                        0.000000
GRADES_12_G                       0.000000
GRADES_1_8_G                      0.000000
GRADES_9_12_G                     0.000000
GRADES_ALL_G                      0.000000
AVG_MATH_4_SCORE                 25.000000
AVG_MATH_8_SCORE                 25.000000
AVG_READING_4_SCORE              28.571429
AVG_READING_8_SCORE              85.714286
dtype: float64

### 4. This time, fill in the missing values using interpolation (extrapolation).

In [ ]:
education_df_without_nan_values_3 = education_df.copy()

replace_nan_values_with_interpolation_list = ['ENROLL', 'TOTAL_REVENUE', 'FEDERAL_REVENUE', 
             'STATE_REVENUE', 'LOCAL_REVENUE', 'TOTAL_EXPENDITURE', 
             'INSTRUCTION_EXPENDITURE', 'SUPPORT_SERVICES_EXPENDITURE',
             'OTHER_EXPENDITURE', 'CAPITAL_OUTLAY_EXPENDITURE', 'GRADES_PK_G', 
             'GRADES_KG_G', 'GRADES_4_G', 'GRADES_8_G', 'GRADES_12_G', 'GRADES_1_8_G', 
             'GRADES_9_12_G', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 
              'AVG_READING_8_SCORE']

for col in replace_nan_values_with_interpolation_list:
    education_df_without_nan_values_3.fillna(education_df_without_nan_values_3[
        replace_nan_values_with_interpolation_list].interpolate(), inplace=True)
    
education_df_without_nan_values_3.isnull().sum()*100/education_df_without_nan_values_3.isnull().count()

### 5. Compare your results for the 2nd, 3rd, and 4th questions. Do you find any meaningful differences?

In question three, all the values in 'ENROLL' and 'OTHER_EXPENDITURE' were missing.

In question four, there were still missing values in the OTHER_EXPENDITURE and the AVG_READING_8_SCORE columns, which was a surprise. That didn't happen with the mean in question two, so my sense is that the interpolate method couldn't didn't have enough data to fill in all the values.

### Coaching Notes

In [16]:
# I want to look at data for the year 1992, how do I isolate those rows?
# Could make df for only 1992 rows

education_df_year_1992 = education_df['YEAR']

In [22]:
fave_year = 1993

# This'll make a boolean series.
# Can isolate the year you want using 'fav_year' variable.
education_df[education_df['YEAR'] == fave_year].mean()

YEAR                            1.993000e+03
ENROLL                          8.020543e+05
TOTAL_REVENUE                   4.768758e+06
FEDERAL_REVENUE                 3.086224e+05
STATE_REVENUE                   2.209300e+06
LOCAL_REVENUE                   2.250836e+06
TOTAL_EXPENDITURE               4.788283e+06
INSTRUCTION_EXPENDITURE         2.540431e+06
SUPPORT_SERVICES_EXPENDITURE    1.419870e+06
OTHER_EXPENDITURE               2.482348e+05
CAPITAL_OUTLAY_EXPENDITURE      4.096238e+05
GRADES_PK_G                     1.014789e+04
GRADES_KG_G                     6.109830e+04
GRADES_4_G                      6.104432e+04
GRADES_8_G                      5.901988e+04
GRADES_12_G                     4.393009e+04
GRADES_1_8_G                    4.916336e+05
GRADES_9_12_G                   2.124045e+05
GRADES_ALL_G                    7.381590e+05
AVG_MATH_4_SCORE                         NaN
AVG_MATH_8_SCORE                         NaN
AVG_READING_4_SCORE                      NaN
AVG_READING_8_SCORE                      NaN
dtype: float64

In [20]:
education_df['YEAR'].min()

1992

In [23]:
print(fave_year)

1993